<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
      <title>MoM</title>s
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

 
	<link rel="shortcut icon" href="assets/favicon.ico?v=2" />

  <link rel="stylesheet" href="css/font-awesome-4.2.0.css">
  <link rel="stylesheet" href="css/application.css?27.2.44">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

</head>

<body ng-app="dashboard-charts" ng-cloak="" ng-controller="SampleCtrl">

<div  id="navigation">
			<div class="navigation-inner">
			<nav class="navbar navbar-fixed-top navbar-inverse">
				<div class="container">
					<ul class="nav navbar-nav" >
						<li>
							<a class="brand" href="/">
								<img src="assets/resilient-logo-blend.png">
							</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="dashboard.html">
							   Analytics Dashboard							   
							</a>
							
							
						</li>
						<li class="active">
							<a id="nav-incident" href="incidentListView.html" >List Incident</a>
						</li>
						</ul>
					<ul class="rt-side-controls">
						<li style="display:none">
							<div>
								
							</div>
						</li>
						<li class="dropdown notification-dropdown open">
							
							
						</li>
						
						<li class="dropdown user-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" arial-expanded="true">
								<div class="rt user">
									<span class="email">{{loginUser}}</span>									
									<a id="tabLogout" href="index.html">Logout</a>
								</div>
								<b class="caret"></b>
							</a>
							
							
						</li>
					</ul>
				</div>
			</nav>
			</div>
		</div>
<br>
<br>
<br>
  <div>
  	
    <!-- <nav class="navbar navbar-default" role="navigation"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="bs-component" >
			<div class="col-sm-12">
			
			 <table align="center" width="60%" height="70px" style="border:1px solid #808080; background-color:#ede8e8">
		    	<tr>
		    	<td class="caption" align="center">Open Incidents <br/> <span id="openIncidents" style="font-size:25px">{{incData.openIncidents}}</span></td>
		    	<td class="caption" align="center">Closed Incidents <br/> <span id="closedIncidents" style="font-size:25px">{{incData.closedIncidents}}</span></td>
		    	<td class="caption" align="center">Total Incidents <br/> <span id="totalIncidents" style="font-size:25px">{{incData.totalIncidents}}</span></td>
		    	<td class="caption" align="center">Active Users <br/> <span id="activeUsers" style="font-size:25px">{{incData.activeUsers}}</span></td>
		    	</tr>
		    </table>
			
			<br/><br/>
				<table align="center" width="60%" height="70px">
			    		<tr>
				<td>
				      <!-- Collect the nav links, forms, and other content for toggling -->
					      <div class="navbar-btn">
					        <select class="navbar-btn" id="chartType" ng-model="chart.type" ng-change="chartSelectionChange()">
					          <option value="LineChart">LineChart</option>
					          <option value="ColumnChart">ColumnChart</option>					          				          
					          <option value="Bar">Bar</option>
					          <option value="ComboChart">ComboChart</option>
					        </select>
					      </div>
					      </td>
				      </tr>
				   </table>

      
 
    
    
    <div class="container-fluid">
      
      <div class="row-fluid">
      <table align="center" width="60%" height="70px">
		<tr>
			<td>
	        <div class="span8">  
	          <div dir="rtl" google-chart chart="chart" style="{{chart.cssStyle}}" select="selected(selectedItem)" on-ready="chartReady()"></div>
	        </div>
        	</td>
        	
        	</tr>
        	
			<tr>
				<td>
			      <!-- Collect the nav links, forms, and other content for toggling -->
			      <div class="navbar-btn">
			        <select class="navbar-btn" id="chartType" ng-model="networkZnChartData.type" ng-change="chartSelectionChange()">
			          <option value="LineChart">LineChart</option>
			          <option value="ColumnChart">ColumnChart</option>			          			          
			          <option value="Bar">Bar</option>
			          <option value="ComboChart">ComboChart</option>
			        </select>
			      </div>
				</td>
			</tr>
				   
        	<tr>
        	
			<td>
	        <div class="span8">  
	          <div dir="rtl" google-chart chart="networkZnChartData" style="{{chart.cssStyle}}" select="selected(selectedItem)" on-ready="chartReady()"></div>
	        </div>
        	</td>
        	
        	</tr>
        </table>
      </div>
      
     

    </div>
    </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/ng-google-chart.js"></script>
  <script src="app/appchart.js"></script>
</body>

</html>